#taggedIcon {
	cursor: pointer;
}

#taggedIcon .icon {
	width: 50%;
	height: 100%;
	position: absolute;
}

#taggedIcon span {
	text-align: right;
	padding-right: 15%;
	display: inline-block;
	margin: 5% 25%;
	font-size: 6em;
	width: 80%;
	transition: 100ms linear;
	border-radius: 0 2em 2em 0;
	color: #59316D;
	background-color: #F9AFA100;
	background-color: #F9AFA1;
}
