.CharDiv {
	transition-duration: 100ms;
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	flex-flow: column;
	align-items: stretch;
	flex: 1 1 0px;
	min-width: 0;
	max-width: 33%;
	min-height: 0;
	height: 100%;
	text-align: center;
	transform-origin: 50% 30%;
	--z: 0;
	transform: scale(calc(1 - 0.2 * var(--z)));
}

.CharDiv * {
	transition: 100ms linear;
}

.CharDiv img {
	object-fit: contain;
	flex: 0 1 auto;
	min-height: 0;
	min-width: 0;
	max-height: 100%;
	max-width: 100%;
}

.CharDiv:hover img {
	filter: drop-shadow(8px 4px 0px var(--color-fourth));
}

.CharDiv > div {
	opacity: 0;
}

.CharDiv:hover > div {
	opacity: 1;
}
