.CharDiv {
	width: 225px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 200px;
	transition-duration: 100ms;
	cursor: pointer;
}

.CharDiv * {
	transition: 100ms linear;
}

.CharDiv > div {
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-content: center;
	align-items: center;
}

.CharDiv img {
	width: 100%;
	height: auto;
}

.CharDiv img:hover {
	filter: drop-shadow(8px 4px 0px var(--color-fourth));
}

.CharDiv:hover > div > div {
	font-weight: bolder;
}