.CharDiv {
	transition-duration: 100ms;
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	flex-flow: column;
	align-items: stretch;
	// margin: 0px 20px;
	flex: 1 1 auto;
	min-width: 0;
	min-height: 0;
	max-height: 100%;
	text-align: center;
}

.CharDiv * {
	transition: 100ms linear;
}

/* Simulando perspectiva e distância. origin é fixo
   mas o scale é pra ser entre 80% e 100% */
.CharDiv:nth-child(2) {
	transform-origin: 50% 40%;
	transform: scale(0.8);
}

.CharDiv img {
	object-fit: contain;
	flex: 0 1 auto;
	min-height: 0;
	min-width: 0;
	max-height: 100%;
	max-width: 100%;
}

.CharDiv:hover img {
	filter: drop-shadow(8px 4px 0px var(--color-fourth));
}

.CharDiv:hover > div > div {
	font-weight: bolder;
}