#RoomSelect {
	position: absolute;
	font-size: 2em;
	top: 0.75em;
	right: 4.25em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.section-title {
	margin-right: 0.25em;
}

.section-title span {
	vertical-align: middle;
	padding: 0.125em 0.625em;
	color: #59316D;
}

.section-title span[lang="pt-br"] {
	font-family: 'Abril Fatface';
	font-size: 2em;
}

.section-title span[lang="en"] {
	font-family: 'Barlow';
	font-style: italic;
	font-size: 1.25em;
	border-left: #F9AFA1 2px solid;
}

#button-rows {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.RoomBtn {
	margin-left: 0.25em;
	margin-right: 0.25em;
	width: 1.65em;
	height: 1.65em;
	font-size: 1.05em;
	font-family: 'Assistant';
	font-weight: bold;
	color: #59316D;
	border: 1px #AAAAAA solid;
	border-radius: 1em;
	background-color: white;
	transition: 100ms linear;
	cursor: pointer;
}

.RoomBtn.disabled:not(#selected) {
	pointer-events: none;
	opacity: 0.2;
}

.RoomBtn:hover {
	color: white;
	border-color: #F9AFA1;
	background-color: #F9AFA1;
}

#selected {
	pointer-events: none;
	background-color: #D6E3F4;
	border-color: #D6E3F4;
}
