.list-icon {
  width: 60px;
  top: 0;
  position: absolute;
  margin: 2vh 0 0 2vh;
  z-index: var(--full-overlay);
  cursor: pointer;
}

.overlay-shop-list {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(250, 128, 114, 0.466);
  z-index: var(--full-overlay);
}

.shop-list {
  position: absolute;
  top: 0;
  left: 50vw;
  transform: translateX(-50%);
  height: 90vh;
  width: 80vw;
}

.shop-list-img {
}

.shop-list-content {
  font-size: 3vmin;
  padding: 9vh 10vw 0;
}

.shop-list-item {
  line-height: 1.4;
  margin-top: 3.28vh;
  padding: 0 10% 0 22%;
  width: 100%;
}

.shop-list-item-check,
.shop-list-item-img {
  height: 2vw;
  width: 2vw;
}
