
.ingredientList{
  background-image: url('../../../../img/Game3/ingredients-list.svg');
  background-repeat: no-repeat;
  background-size: 570px;
  width: 570px;
  padding-top: 76px;
  padding-left: 108;
  transform-origin: center center;
  transform: rotate(21deg);
  margin-top: 10px
}

.ingredientImg{
  width: 30px;
  margin-right: 10px;
}

.ingredient {
  display: block;
  font-size: 1.3rem;
  line-height: 3.7rem;
}
