
.ingredientList{
  background-image: url('../../../../img/Game3/ingredients-list-full.svg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  width: 100%;
  height: 100%;
  padding-top: 8%;
  padding-left: 8%;
  transform-origin: center center;
  transform: rotate(21deg);
  margin-top: 10px
}

.ingredientImg{
  width: 2em;
  margin-right: 10px;
}

.ingredient {
  display: block;
  font-size: 2em;
  line-height: 2.64em;
}
