#phone {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

// ---------------------------------------------------------------------
//
//                             MINIMIZED
//
// ---------------------------------------------------------------------

#small-phone-wrapper {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 10vw;
	width: 15vw;
	max-width: 200px;
	// margin-bottom: 2vh;
}

#small-phone-wrapper.maximized {
	pointer-events: none;
}

#small-phone-inner-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

#small-phone-content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	transition: 200ms ease-in-out;
	transform: translateY(50%);
	cursor: pointer;
}

#small-phone-content img,
#small-phone-content svg {
	pointer-events: all;
	width: 100%;
}

#small-phone-content:hover {
	pointer-events: all;
	transform: translateY(40%);
}

#small-phone-wrapper.maximized #small-phone-content{
	transform: translateY(100%);
}

#small-phone-floating-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #59316d;
	font-size: 1.4rem;
	line-height: 1.7rem;
	text-align: center;
	padding: 0 10px 10px 10px;
	transition: 100ms ease-in-out;
	opacity: 0;
	min-width: 200px;
	position: absolute;
	transform: translateY(-100%);
}

#small-phone-content:hover #small-phone-floating-text {
	opacity: 1;
}

#small-phone-floating-text span[lang="pt-br"] {
	font-family: "Barlow";
	font-weight: bold;
}

#small-phone-floating-text span[lang="default"]::before {
	content: "";
	display: block;
	position: relative;
	width: 50%;
	margin: 10px auto;
	border-top: 2px solid #F9AFA1;
}

#small-phone-floating-text span[lang="default"] {
	font-family: "Barlow";
	font-style: italic;
}

// #small-phone-wrapper::after {
// 	content: "";
// 	display: block;
// 	position: relative;
// 	width: 150%;
// 	border-bottom: 2px solid #000000;
// 	margin: 0 auto;
// 	transform: translateX(-16.6666666666%); // ((150-100)/2)/150%
// }

// ---------------------------------------------------------------------
//
//                             MAXIMIZED
//
// ---------------------------------------------------------------------

#big-phone-wrapper {
	animation: slideIn 400ms cubic-bezier(0, 0, 0, 1) 150ms forwards;
	transform: translateY(100vh);
	position: relative;
	--hSize: 80vh;
	height: var(--hSize);
	width: calc(9 / 18.5 * var(--hSize));
	margin: calc(calc(100vh - var(--hSize)) / 2) auto;
}

#big-phone-wrapper.minimizing {
	animation: slideOut 200ms cubic-bezier(0, 0, 1, 0) forwards;
}

#big-phone-imgs {
	position: absolute;
	height: 100%;
	width: 100%;
	transform-origin: 68% 49.1%;
	transform: scale(2.5);
}

#big-phone-imgs > img {
	position: absolute;
	width: 100%;
	height: 100%;
}

#big-phone-screen-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 65px 20px 15px 25px;
	overflow: hidden;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
}

@keyframes slideIn {
	0% {transform: translateY(100vh);}
	100% {transform: translateY(0vh);}
}

@keyframes slideOut {
	0% {transform: translateY(0vh);}
	100% {transform: translateY(100vh);}
}

// ---------------------------------------------------------------------
//
//                             PHONE SCREEN
//
// ---------------------------------------------------------------------

#big-phone-screen-content {
	overflow-y: scroll;
	overflow-x: hidden;
	margin-right: -5px;
	margin-bottom: 20px;
	flex: 1 1 0px;
}

#big-phone-screen-content > p {
	font-family: 'Abril fatface';
	font-size: 2.3rem;
	text-align: center;
	color: #59316D;
}

#lista-contatos {
	overflow: hidden;
	margin-left: 20px;
	margin-right: 10px;
	// margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

.contato {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	margin-bottom: 40px;
	animation: showContact 350ms cubic-bezier(0,0, 0,1) forwards;
}

.contato * {
	margin: 0;
	padding: 0;
}

.contato .contact-profile-pic {
	position: relative;
	align-self: flex-end;
	height: 80px;
	width: 80px;
	margin-bottom: -15px;
}

.contact-profile-pic span {
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translateX(-50%);
	font-family: 'Abril Fatface';
	font-size: 4.2rem;
	// font-weight: bolder;
	line-height: 3.5rem;
	color: #F9AFA1;
}

.contact-profile-pic div {
	border: 2px solid #F9AFA1;
	background-color: #fff;
	border-radius: 100px;
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
}

.contato > div:not(:first-child) {
	margin-bottom: 10px;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-content: stretch;
}

.contato input,
.contato select {
	padding: 5px 15px;
	border: 1px solid #F9AFA1;
	border-radius: 0 1.25em 1.25em 1.25em;
	font-family: 'Assistant';
	color: #59316D;
}

.contato p {
	color: #59316D;
	font-family: "Barlow";
	font-size: 1.7rem;
	font-weight: 600;
}

#add-contato {
	background-color: #D6E3F455;
	border-radius: 30px;
	padding: 10px;
}

#btn-add-contato {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 8px 20px;
	border-radius: 2em;
	text-align: center;
	font-family: 'Barlow';
	font-weight: 500;
	transition: 100ms linear;
}

#btn-add-contato.enabled {
	background-color: #D6E3F4;
	color: #59316D;
	cursor: pointer;
}

#btn-add-contato.disabled {
	background-color: #AAAAAA;
	color: #EEEEEE;
	cursor: default;
	pointer-events: none;
}

#btn-add-contato:hover.enabled {
	background-color: #59316D;
	color: #FFFFFF;
}

#btn-terminei-wrapper {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

#btn-terminei {
	background-color: #ede6f0;
	border-radius: 2em 2em 0 2em;
	color: #59316D;
	text-align: center;
	font-family: 'Barlow';
	font-weight: Bold;
	font-size: 1.3rem;
	cursor: pointer;
	padding: 20px 40px;
	min-width: max-content;
	width: fit-content;
	margin: 0 auto;
	transform: translateY(55%);
	transition: 100ms linear;
}

#btn-terminei:hover {
	background-color: #59316D;
	color: #FFFFFF;
}

@keyframes showContact {
	0% {
		transform: scale(0.75);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
