#userspace {
	margin: 50px;
}

#userspace > p {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}

#userspace > div {
	margin-top: 2rem;
}

#missoes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
}

.missao {
	border: 1px solid grey;
	border-radius: 0.3em;
	width: 250px;
	overflow: hidden;
	transition: 100ms linear;
}

.missao:hover {
	box-shadow: 2px 5px 5px 2px #88888888;
}

.missao a {
	text-decoration: none;
	color: black;
}

#imagem {
	height: 7rem;
	background-color: #ffcca9;
}

#card-text-wrapper {
	padding: 17px;
}

#nome-missao {
	font-family: 'abril fatface';
	color: #59316d;
	font-size: 1.5rem;
}

#descricao {
	font-family: 'assistant';
	font-size: 0.9rem;
	margin: 15px 0px;
}