
#app-header {
	// position: fixed;
	display: flex;
	flex-direction: row;
	background-image: url('../../img/capa-top.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	color: var(--color-text);
	padding: 30px 50px;
	justify-content: space-between;
	max-height: 120px;
}

.group-btns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.group-btns > div {
	margin: 0px 20px;
	cursor: pointer;
}

#pageTitle {
	display: flex;
	flex-direction: column;
	font-size: 80%;
	/* cursor: default; */
}

#subTitle {
	font-weight: bold;
	font-size: 80%;
}

#profilePic {
	transform-origin: top;
	transform: scale(0.5) translateY(-25px);
}
