#input-tracker {
	position: absolute;
	top: 120px;
	left: 10px;
}

.main-wrapper {
	margin-top: -125px;
	padding-top: 125px;
}

.type-display {
	color: #59316D;
}

.subtitle {
	font-family: 'barlow light';
}

h2.type-s {
	font-size: 1.2em;
	padding-left: 60px;
	padding-right: 60px;
}

.subdescription::before {
	content: '';
	border-top: 2px solid #F9AFA1;
	display: block;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 10px;
}

.subdescription {
	font-family: 'barlow light';
	font-style: italic;
}

#btns {
	margin-top: 40px;
}

#btn-back::before {
	content: "< ";
}

#btn-back {
	padding: 10px 30px;
	margin-right: 1em;
	background-color: #D6E3F4;
	color: #59316D;
	font-family: 'barlow semibold';
	border-radius: 50px 50px 0px 50px;
	transition: 100ms linear;
}

#btn-start {
	padding: 10px 30px;
	margin-left: 1em;
	background-color: #F9AFA1;
	color: #59316D;
	font-family: 'barlow semibold';
	border-radius: 50px 50px 50px 0px;
	transition: 100ms linear;
}

#btn-start:hover, #btn-back:hover {
	color: white;
	background-color: #59316D;
}

#btn-start::after {
	content: " >";
}