.instructionText{
  padding: 10px;
  padding-left: 0px;
  animation: slideIn 1s forwards;
}

@keyframes slideIn{
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.instructionText.default {
  color: white;
  font-family: "Barlow";
  font-weight: bold;
}

.instructionText.translation{
  color: #BCACC4;
  font-style: italic;
}
