#feedback-phone {
  position: absolute;
  height: 100%;
  width: 100%;
}

#feedback-phone > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

#feedback-endGame-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  // z-index: -10;
}

#feedback-endGame-screen > div {
  margin-top: 15em;
}

#feedback-end-panels {
  position: absolute;
  width: 120em;
  right: 5em;
  height: 70em;
  bottom: 15em;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #f9afa1;
  border-radius: 2.75em;
  box-shadow: #44444440 1em 1em;
  padding: 2em;
  z-index: 0;
}

#feedback-endGame-screen #CharacterPortrait {
  max-width: none;
}

#feedback-endgame-messages {
  position: relative;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; /* Vertical */
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  // scroll-behavior: auto;
}

#feedback-endgame-messages::-webkit-scrollbar {
  display: none;
}

.feedback-painel {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  padding: 9em 7em;
  scroll-snap-align: center;
  line-height: 1.2;
  overflow: hidden;
  display: block;
  text-align: center;
}

.feedback-painel-1-wrapper {
  overflow-y: visible;
  max-height: 100%;
  display: block;
}

.feedback-painel-1-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback-painel a {
  pointer-events: fill;
}

#feedback-painel-1-win span {
  display: block;
  font-family: "Barlow";
  color: #583f3a;
  text-align: center;
}

#feedback-painel-1-win span[lang="pt-br"] {
  font-weight: 600;
  font-size: 4.5em;
}

#feedback-painel-1-win span[lang="en"]::before {
  content: "";
  display: block;
  border: #59316d solid;
  border-width: 2px 0 0 0;
  width: 10em;
  margin: 1.5em auto;
}

#feedback-painel-1-win span[lang="en"] {
  font-style: italic;
  font-size: 3.5em;
}

#feedback-painel-1 span {
  display: block;
  font-family: "Barlow";
  color: #583f3a;
  text-align: center;
}

#feedback-painel-1 span[lang="pt-br"] {
  font-weight: 600;
  font-size: 3em;
}

#feedback-painel-1 span[lang="en"]::before {
  content: "";
  display: block;
  border: #59316d solid;
  border-width: 2px 0 0 0;
  width: 10em;
  margin: 2em auto;
}

#feedback-painel-1 span[lang="en"] {
  font-style: italic;
  font-size: 2.5em;
}

.feedback-painel .next-btn {
  position: absolute;
  right: calc(2em / 2);
  right: 0;
}

.feedback-painel .prev-btn {
  position: absolute;
  left: calc(2em / 2);
  left: 0;
}

.feedback-painel .next-btn,
.feedback-painel .prev-btn {
  color: white;
  font-size: 3em;
  text-decoration: none;
  border-top: 0.5em solid #00000000;
  border-right: 0.5em solid #00000000;
  border-bottom: 0.5em solid #00000000;
  border-left: 0.5em solid #00000000;
  border-radius: 5em;
  transition: 100ms linear;
  top: 50%;
  transform: translateY(-50%);
}

.feedback-painel .next-btn:hover,
.feedback-painel .prev-btn:hover {
  background-color: #00000044;
}

#feedback-painel-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.feedback-painel-2-wrapper {
  width: 100%;
  max-height: 100%;
}

.feedback-painel-2-content {
  position: relative;
  text-align: center;
}

.feedback-painel-2-wrapper:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-painel-2-wrapper:nth-child(2) {
  overflow-y: visible;
  padding: 0 0;
}

.feedback-painel-2-wrapper:first-child .feedback-painel-2-content {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  padding: 2.5em 2.5em;
  font-size: 5em;
  color: #59316d;
  line-height: 1.2em;
  font-family: "Assistant";
  margin-bottom: 0.5em;
}

.feedback-painel-2-wrapper:first-child .feedback-painel-2-content span {
  font-family: "Abril Fatface";
}

.feedback-painel-2-wrapper:first-child
  .feedback-painel-2-content
  span:first-child {
  font-size: 3em;
}

.feedback-painel-2-content p {
  font-size: 1.3em;
}

.feedback-painel-2-wrapper:nth-child(2) .feedback-painel-2-content {
  padding: 0 1.5em;
  font-size: 3.5em;
  font-family: "Barlow";
  font-weight: 600;
}

.feedback-painel-2-wrapper-defeat {
  width: 100%;
  max-height: 100%;
}

.feedback-painel-2-content-defeat {
  position: relative;
  text-align: center;
}

.feedback-painel-2-wrapper-defeat:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-painel-2-wrapper-defeat:nth-child(2) {
  overflow-y: visible;
  padding: 0 0;
}

.feedback-painel-2-wrapper-defeat:first-child
  .feedback-painel-2-content-defeat {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  padding: 1.5em 2em;
  font-size: 4.5em;
  color: #59316d;
  line-height: 1.2em;
  font-family: "Assistant";
  margin-bottom: 0.5em;
}

.feedback-painel-2-wrapper-defeat:first-child
  .feedback-painel-2-content-defeat
  span {
  font-family: "Abril Fatface";
}

.feedback-painel-2-wrapper-defeat:first-child
  .feedback-painel-2-content-defeat
  span:first-child {
  font-size: 2em;
}

.feedback-painel-2-content-defeat p {
  font-size: 0.9em;
}

.feedback-painel-2-wrapper-defeat:nth-child(2)
  .feedback-painel-2-content-defeat {
  padding: 0 1.5em;
  font-size: 3.5em;
  font-family: "Barlow";
  font-weight: 600;
}

#feedback-endGame-action-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  margin-top: 2em;
}

#feedback-painel-icon {
  position: absolute;
  width: 100%;
  overflow: visible;
  display: flex;
  justify-content: center;
  margin-left: -2em;
  margin-top: -19em;
}

#feedback-painel-icon > img {
  height: 25em;
  position: relative;
}

#feedback-endGame-wrong-wrapper {
  // margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

#feedback-endGame-wrong-wrapper .feedback-painel {
  width: unset;
  height: unset;
  flex: 1 10;
  padding: 2em;
}

#feedback-endGame-wrong-wrapper > div:first-child {
  display: flex;
  flex-direction: row;
  padding: 0 10em;
}

#feedback-endGame-screen p:nth-child(n + 2) {
  margin-top: revert;
}

#feedback-painel-icon-derrota {
  height: 20em;
  margin-bottom: 5em;
}

#feedback-painel-icon-derrota img {
  height: 100%;
}

#feedback-painel-3 {
  background-color: #9999bb22;
  background-clip: content-box;
  border-radius: 5em;
}

#feedback-phone-div {
  width: 89em;
  position: absolute;
  left: -15em;
  bottom: 0;
  height: 110em;
  pointer-events: none;
}
