#phone {
	position: fixed;
	background-color: #ede6ed;
	width: 140px;
	height: 170px;
	bottom: -20px;
	right: 125px;
	border-top: 6px solid #59316d;
	border-left: 6px solid #59316d;
	border-right: 6px solid #59316d;
	border-radius: 25px 25px 0 0;
	transition: 333ms cubic-bezier(0.66, 0.0, 0.33, 1);
	padding: 25px 10px 0px 10px;
	transform-origin: center bottom;
	cursor: pointer;
}

#phone:hover {
	transform: scale(1.075) translateY(-15px);
}

#phone::before {
	content: "";
	border-bottom: 20px solid #59316d;
	position: absolute;
	left: 33%;
	right: 33%;
	top: -6px;
	border-radius: 0 0 5px 5px;
}

#phone p {
	margin-top: 25px;
	visibility: hidden;
	color: #59316d00;
	font-family: 'Assistant';
	font-weight: bold;
	transition: 250ms cubic-bezier(0.66, 0.0, 0.33, 1);
	text-align: center;
}

#phone:hover p {
	visibility: visible;
	color: #59316dFF;
}

#contacts {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #f9afa1B0;
}

#btn-fechar {
	position: absolute;
	right: 30px;
	top: 30px;
	width: 50px;
	height: 50px;
	font-size: 4rem;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	color:#FFFFFF;
	transition: 100ms ease-in-out;
}

#btn-fechar:hover {
	color:#59316D;
	transform: scale(1.2);
}

#btn-fechar > span {
	position: relative;
	top: -60%;
	width: 100%;
}


#fullPhone {
	background-color: #FFFFFF;
	border: 15px solid #59316D;
	border-radius: 40px;
	width: 350px;
	height: 650px;
	left: calc(50% - 350px/2);
	top: calc(50% - 650px/2);
	padding-top: 30px;
	position: absolute;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

#fullPhone::before {
	content: "";
	position: absolute;
	left: 35%;
	right: 35%;
	top: 0px;
	border-bottom: 25px solid #59316D;
	border-radius: 0px 0px 10px 10px;
}

#fullPhone > p {
	font-family: 'Abril fatface';
	font-size: 1.5em;
	text-align: center;
	color: #59316D;
}

#lista-contatos {
	overflow-y: scroll;
	margin-left: 20px;
	margin-right: 10px;
	// margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

.contato {
	margin-bottom: 25px;
}

.contact-profile-pic {
	position: relative;
}

.contact-profile-pic span {
	font-family: 'Abril Fatface';
	font-size: 3em;
	font-weight: bolder;
	color: #F9AFA1;
	position: absolute;
	right: 50px;
	top: 5px;
}

.contact-profile-pic div {
	border: 2px solid #F9AFA1;
	background-color: #fff;
	border-radius: 30px;
	width: 60px;
	height: 60px;
	position: relative;
	margin-left: auto;
	top: 0;
}

.contact-info {
	margin-top: -17px;
}

.contact-info * {
	margin: 0;
	padding: 0;
	width: 100%;
}

.contact-info > div {
	margin-bottom: 10px;
	padding: 0;
}

.contact-info input,
.contact-info select {
	padding: 5px 15px;
	border: 1px solid #F9AFA1;
	border-radius: 0 1.25em 1.25em 1.25em;
	font-family: 'Assistant';
	color: #59316D;
}

.contact-info p {
	color: #59316D;
	font-family: "Barlow";
	font-size: 1.2em;
	font-weight: 500;
}

#btn-add-contato {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 8px 20px;
	border-radius: 2em;
	text-align: center;
	font-family: 'Barlow';
	font-weight: 500;
	color: #59316D;
	background-color: #D6E3F4;
	cursor: pointer;
	transition: 100ms linear;
}

#btn-add-contato:hover {
	background-color: #59316D;
	color: #FFFFFF;
}