.clickable-char > svg:first-child {
	filter: drop-shadow( 0em 0em 0em #ffbb99)
			drop-shadow( 0em 0em 0em #ffbb99)
			drop-shadow( 0em 0em 0em #ffbb99)
			drop-shadow( 0em 0em 0em #ffbb99);
	transition: 100ms ease-in-out;
}

.clickable-char:hover > svg:first-child {
	filter: drop-shadow( 0.4em  0.4em 0em #ffbb99)
			drop-shadow(-0.4em  0.4em 0em #ffbb99)
			drop-shadow(-0.4em -0.4em 0em #ffbb99)
			drop-shadow( 0.4em -0.4em 0em #ffbb99);
}
