#game2-wrapper,
#game2-content {
	width: 100%;
	height: 100%;
}

#floating-config-btn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 10px 20px 20px;
	width: auto;
	height: auto;
	background-color: #F9AFA1;
	border-radius: 45% 0 15% 100%;
	transition: 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#floating-config-btn img {
	transition: 100ms linear;
}

#floating-config-btn:hover {
	cursor: pointer;
	padding: 10px 10px 30px 30px;
	border-radius: 0 0 0 90%;
}

#floating-config-btn:hover img {
	filter: saturate(0%) brightness(999%);
}

#room-itself {
	width: 100%;
	height: 100%;
}

#conversa {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	background-color: #FFFFFFBB;
}

#acusar,
#fechar {
	position: absolute;
	cursor: pointer;
	z-index: 1;
}

#fechar {
	right: 30px;
	top: 30px;
	width: 100px;
	height: 100px;
	font-size: 6em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 15px;
	transition: 100ms ease-in-out;
	overflow: hidden;
	color: #59316D;
}

#fechar:hover {
	color: #f9afa1;
	transform: scale(1.2);
}

#acusar {
	position: absolute;
	top: 5vh;
	left: 8vh;
	height: 150px;
}

#lamp-acesa,
#lamp-apagada {
	z-index: 1;
}

#acusar #lamp-apagada {
	position: absolute;
	height: 100%;
}

#acusar #lamp-acesa,
#acusar span {
	position: relative;
	height: 100%;
	opacity: 0;
	transition: 100ms linear;
}

#acusar:hover #lamp-acesa,
#acusar:hover span {
	opacity: 1;
}

#acusar span {
	position: relative;
	left: -30px;
	top: 5px;
	background-color: #F9AFA100;
	border-radius: 0 2em 2em 0;
	padding: 20px 40px 20px 70px;
	margin-left: -20px;
	z-index: 0;
	font-size: 1.5em;
	color: #59316D;
}

#acusar:hover span {
	background-color: #F9AFA1;
}

#dialog-interact {
	height: 100%;
	width: 100%;
	max-width: 2000px;
	margin-left: auto;
	margin-right: auto;
}

#CharacterPortrait {
	position: absolute;
	bottom: 0;
	width: 30%;
	max-width: 600px;
	height: calc(50% + 25px);
	pointer-events: none;
	transform-origin: 40% 40%;
	transform: scale(2.5);
}

#CharacterPortrait * {
	position: absolute;
	bottom: 0;
	left: 0;
	max-height: 100%;
}

#dialogos {
	margin-left: auto;
	margin: 0 200px 0px auto;
	display: flex;
	flex-direction: column;
	width: calc(70% - 80px);
	height: 100%;
}

#DialogHistory {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	max-width: 850px;
	width: 100%;
	padding-bottom: 20px;
	padding-left: 40px;
	height: max-content;
	// margin-top: 80px;
	align-self: flex-end;
	mask-image: linear-gradient(0deg, #FFFF 50%, #FFF1 80%);
	// background-image: linear-gradient(0deg, #FFFF 50%, #000F 90%);
	// mask-image: linear-gradient(0deg, #FFFF 20%, #FFF0 50%);
	// background-image: linear-gradient(0deg, #FFFF 20%, #000F 50%);
}

#DialogHistory > span {
	flex-grow: 1;
}

#dialogHistory * {
	transition: 250ms ease-in-out;
}

.mensagem0, .mensagem1 {
	margin-bottom: 15px;
	padding: 20px 40px;
	min-width: 450px;
	max-width: 720px;
	font-size: 2em;
}

.mensagem0 {
	background-color: #535c89;
	border-radius: 0.75em 0.75em 0 0.75em;
	color: #FFFFFF;
}

.mensagem1 {
	background-color: #59316D;
	border-radius: 0.75em 0.75em 0.75em 0;
	color: #FFFFFF;
	align-self: flex-start;
}

#DialogBox {
	background-color: #535c89;
	border-radius: 0 1.5em 0 0;
	flex-grow: 0;
	padding: 15px;
	margin-bottom: 75px;
	box-shadow: 7px 7px 0px 0px #77777750;
	justify-content: center;
}

#Menu {
	display: flex;
	flex-grow: 0;
	flex-direction: column;
	justify-content: center;
	height: 260px;
}

#Menu > * {
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.15);
	color: #FFFFFF;
	margin: 7.5px;
	font-size: 1.8em;
	border-radius: 0.75em 0.75em 0 0.75em;
	flex-grow: 1;
	transition: 100ms linear;
}

#Menu .MuiButton-label {
	justify-content: start;
	margin-left: 20%;
}

#Menu > *:hover {
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	color: #59316D;
}

#charData {
	margin-top: 100px;
}

#conversationActions {
	margin-top: 20px;
}

#dialog-accusation-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #FFFFFF80;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
}

#dialog-accusation {
	width: 65vw;
	height: 50vh;
	max-width: 1200px;
	max-height: 800px;
	padding: 30px;
	background-color: #F9AFA1;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	position: relative;
}

#dialog-accusation::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	// background-image: url('./../../img/bg-forma-laranja.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transform: scale(2);
	z-index: -1;
}

#accusation-infos {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#accusation-infos > * {
	flex-grow: 1;
	max-width: 50%;
}

#accusation-infos > :first-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.5rem;
}

#accusation-infos span[lang="pt-br"] {
	font-family: 'Assistant';
	font-weight: bold;
}

#accusation-infos span[lang="pt-br"]::after{
	content: "";
	display: block;
	margin: 15px 0px;
	border-bottom: 2px solid #FFCCC9;
}

#accusation-infos span[lang="en"] {
	font-family: 'Barlow light';
	font-style: italic;
	font-size: 0.9em;
}

#accusation-infos > :nth-child(2) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Assistant';
	text-align: center;
	background-color: #FBBBA3;
	border-radius: 1.5em;
	// padding: 60px 20px 20px 20px;
	padding: 20px;
}

#accusation-infos > :nth-child(2) div {
	margin-bottom: 0.35em;
}

#accusation-btns {
	display: flex;
	justify-content: center;
	align-items: center;
}

#accusation-btns button {
	margin: 5px 15px;
	padding: 7px 20px;
	text-transform: unset;
	transition: 100ms linear;
	border-radius: 2em;
	font-family: 'Barlow';
	font-weight: bold;
}

#accusation-btns button:first-child {
	background-color: #FFCCA9;
	color: #59316D;
	border-bottom-right-radius: 0;
}

#accusation-btns button:first-child::before {
	content: "❮";
	margin-right: 15px;
}

#accusation-btns button:last-child {
	background-color: #D6e3F4;
	color: #59316D;
	border-bottom-left-radius: 0;
}

#accusation-btns button:last-child::after {
	content: "❯";
	margin-left: 15px;
}

#accusation-btns button:hover {
	background-color: #59316D;
	color: #FFFFFF;
}

#endGame-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #D6E3F4;
	// z-index: -10;
}

#endGame-screen > div {
	position: absolute;
	width: 55vw;
	right: 100px;
	height: 60vh;
	bottom: 120px;
	margin-top: auto;
	margin-bottom: auto;
	background-color: #F9AFA1;
	border-radius: 3em;
	box-shadow: #44444444 30px 30px;
	padding: 20px;
	z-index: 0;
}

#endgame-messages {
	position: relative;
	min-width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;
	// scroll-behavior: auto;
}

#endgame-messages::-webkit-scrollbar {
	display: none;
}

.painel {
	position: relative;
	flex: 0 0 auto;
	width: 100%;
	height: 100%;
	padding: 75px;
	scroll-snap-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#painel-1 span {
	display: block;
	font-size: 2.3rem;
	font-family: 'Barlow';
	color: #583F3A;
	text-align: center;
}

#painel-1 span[lang="pt-br"] {
	font-weight: 600;
}

#painel-1 span[lang="en"]::before {
	content: "";
	display: block;
	border: #59316D solid;
	border-width: 2px 0 0 0;
	width: 200px;
	margin: 40px auto;
}

#painel-1 span[lang="en"] {
	font-style: italic;
}

.painel .next-btn {
	position: absolute;
	right: calc( 75px / 2);
}

.painel .prev-btn {
	position: absolute;
	left: calc( 75px / 2);
}

.painel .next-btn,
.painel .prev-btn {
	color: white;
	font-size: 2rem;
	text-decoration: none;
}

#endGame-action-btns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#endGame-action-btns button {
	text-transform: none;
	font-family: 'Barlow ExtraBold';
	font-size: 1.5rem;
	margin: -15px 15px 0 15px;
	border-radius: 3rem;
	color: #59316D;
	transition: 100ms linear;
	min-width: 300px;
	text-align: center;
}

#endGame-action-btns button:hover {
	//Usei !important aqui pra não ter que escrever uma regra pra cada button abaixo com o hover pra mudar só isso
	background-color: #59316D !important;
	color: white;
}

#endGame-action-btns button:first-child::before {
	content: "❮";
	position: absolute;
	left: 30px;
}

#endGame-action-btns button:first-child {
	background-color: #FFDEA9;
	border-bottom-right-radius: 0;
	padding: 12px 30px 12px 50px;
}

#endGame-action-btns button:nth-child(2) {
	background-color: #FFCCA9;
	border-bottom-left-radius: 0;
	padding: 12px 50px 12px 30px;
}

#endGame-action-btns button:nth-child(2)::after {
	content: "❯";
	position: absolute;
	right: 30px;
}
