#tutorial-screen {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	padding: 30vh 300px 5vh 300px;
	z-index: 0;
}

#tutorial-screen .CharDiv {
	flex: 0 1 auto;
	height: 100%;
}

#tutorial-screen .CharDiv img {
	flex: 1 1 auto;
	object-fit: contain;
	height: 100%;
	width: auto;
}

#tutorial-popup-1 {
	position: absolute;
	top: 160px;
	right: 200px;
	width: 625px;
	height: 300px;
	background-color: #F9AFA1;
	box-shadow: #44444444 15px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Barlow';
	font-size: 2.25rem;
	line-height: 2.75rem;
	text-align: center;
	border-radius: 40px; //TEMPORARIO enquanto não tem o blob das bordas
}

#tutorial-screen span[lang="pt-br"] {
	font-weight: 600;
	padding: 0 30px;
	margin-bottom: 10px;
}

#tutorial-screen span[lang="en"]::before {
	content: "";
	display: block;
	border-top: 2px solid white;
	margin: 20px auto;
	width: 40%;
}

#tutorial-screen span[lang="en"] {
	font-style: italic;
	font-size: 0.8em;
	padding: 0px 110px;
}

#tutorial-popup-2-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(#FFFFFF, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

#tutorial-popup-2-content {
	width: 900px;
	padding: 30px 0px;
	background-color: #F9AFA1;
	box-shadow: #44444444 15px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Barlow';
	font-size: 2rem;
	line-height: 2.75rem;
	text-align: center;
	border-radius: 40px; //TEMPORARIO enquanto não tem o blob das bordas
}

#tutorial-popup-2-content button {
	margin-top: 50px;
	background-color: #D6E3F4;
	border-radius: 3rem 3rem 3rem 0;
	color: #59316D;
	padding: 15px 40px;
	text-transform: none;
	font-family: 'Barlow Black';
	font-size: 1.5rem;
	transition: 100ms linear;
}

#tutorial-popup-2-content button::after {
	content: "❯";
	margin-left: 15px;
}

#tutorial-popup-2-content button:hover {
	background-color: #59316D;
	color: #FFFFFF;
}
