#acusar {
	position: absolute;
	cursor: pointer;
	z-index: 1;
}

#acusar {
	position: absolute;
	top: 5vh;
	left: 8vh;
	height: 150px;
}

#lamp-acesa,
#lamp-apagada {
	z-index: 1;
}

#acusar #lamp-apagada {
	position: absolute;
	height: 100%;
}

#acusar #lamp-acesa,
#acusar span {
	position: relative;
	height: 100%;
	opacity: 0;
	transition: 100ms linear;
}

#acusar:hover #lamp-acesa,
#acusar:hover span {
	opacity: 1;
}

#acusar span {
	position: relative;
	left: -30px;
	top: 5px;
	background-color: #F9AFA100;
	border-radius: 0 2em 2em 0;
	padding: 20px 40px 20px 70px;
	margin-left: -20px;
	z-index: 0;
	font-size: 1.5em;
	color: #59316D;
}

#acusar:hover span {
	background-color: #F9AFA1;
}
