#tutorial-popup-1 {
  position: absolute;
  top: calc(var(--gameHeight) * 0.15);
  right: calc(var(--gameWidth) * 0.1);
  // width: 60vw;
  max-width: 17em;
  // min-height: 300px;
  padding: 1em;
  color: #000;
  background-color: #f9afa1;
  box-shadow: #44444444 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Barlow";
  font-size: 3.75em;
  line-height: 1.25em;
  text-align: center;
  border-radius: 1em; //TEMPORARIO enquanto não tem o blob das bordas
  pointer-events: all;
}

.abs-fix {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.tutorial #sala-content {
  display: flex;
  justify-content: flex-start;
  // width: calc(var(--width) * 0.8);
}

#tutorial-popup-1 span[lang="pt-br"] {
  font-weight: 600;
  // padding: 0 30px;
  margin-bottom: 0.3em;
}

#tutorial-popup-1 span[lang="en"]::before {
  content: "";
  display: block;
  border-top: 2px solid white;
  margin: 20px auto;
  width: 40%;
}

#tutorial-popup-1 span[lang="en"] {
  font-style: italic;
  font-size: 0.8em;
  max-width: 15em;
}

#tutorial-popup-1 > div {
  margin-top: 1.5em;
  font-size: 0.6em;
}

#tutorial-popup-2-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#ffffff, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 150ms linear forwards;
}

#tutorial-popup-2-content {
  width: 80vw;
  max-width: 900px;
  margin: auto;
  padding: 30px;
  background-color: #f9afa1;
  box-shadow: #44444444 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Barlow";
  font-size: 2rem;
  line-height: 2.75rem;
  text-align: center;
  border-radius: 40px; //TEMPORARIO enquanto não tem o blob das bordas
}

#tutorial-popup-2-content span[lang="en"] {
  margin-top: 25px;
  font-style: italic;
}

#tutorial-popup-2-content button {
  margin-top: 50px;
  background-color: #d6e3f4;
  border-radius: 3rem 3rem 3rem 0;
  color: #59316d;
  padding: 15px 40px;
  text-transform: none;
  font-family: "Barlow";
  font-weight: 800;
  font-size: 1.5rem;
  transition: 100ms linear;
}

#tutorial-popup-2-content button::after {
  content: "❯";
  margin-left: 15px;
}

#tutorial-popup-2-content button:hover {
  background-color: #59316d;
  color: #ffffff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
