#conversa {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	background-color: #FFFFFFBB;
	display: block !important;
	transition: 100ms ease-in-out;
}

#conversa[hidden] {
	opacity: 0;
	pointer-events: none;
	transition: 100ms 50ms ease-in-out;
}

#acusar,
#fechar {
	position: absolute;
	cursor: pointer;
	z-index: 1;
}

#fechar {
	right: 30px;
	top: 30px;
	width: 100px;
	height: 100px;
	font-size: 6em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 15px;
	transition: 100ms ease-in-out;
	overflow: hidden;
	color: #59316D;
}

#fechar:hover {
	color: #f9afa1;
	transform: scale(1.2);
}

#acusar {
	position: absolute;
	top: 5vh;
	left: 8vh;
	height: 150px;
}

#lamp-acesa,
#lamp-apagada {
	z-index: 1;
}

#acusar #lamp-apagada {
	position: absolute;
	height: 100%;
}

#acusar #lamp-acesa,
#acusar span {
	position: relative;
	height: 100%;
	opacity: 0;
	transition: 100ms linear;
}

#acusar:hover #lamp-acesa,
#acusar:hover span {
	opacity: 1;
}

#acusar span {
	position: relative;
	left: -30px;
	top: 5px;
	background-color: #F9AFA100;
	border-radius: 0 2em 2em 0;
	padding: 20px 40px 20px 70px;
	margin-left: -20px;
	z-index: 0;
	font-size: 1.5em;
	color: #59316D;
}

#acusar:hover span {
	background-color: #F9AFA1;
}

#conversa[hidden] #dialog-interact {
	transform: translateY(5%);
}

#dialog-interact {
	transform: translateY(0%);
	transition: 150ms ease-in-out;
	height: 100%;
	width: 100%;
	max-width: 2000px;
	margin-left: auto;
	margin-right: auto;
}

#CharacterPortrait {
	position: absolute;
	bottom: 0;
	width: 30%;
	max-width: 600px;
	height: calc(50% + 25px);
	pointer-events: none;
	transform-origin: 40% 40%;
	transform: scale(2.5);
}

#CharacterPortrait * {
	position: absolute;
	bottom: 0;
	left: 0;
	max-height: 100%;
}

#dialogos {
	margin-left: auto;
	margin: 0 200px 0px auto;
	display: flex;
	flex-direction: column;
	width: calc(75% - 80px);
	height: 100%;
}

#DialogHistory {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	max-width: 850px;
	width: 100%;
	padding-bottom: 20px;
	padding-left: 40px;
	height: max-content;
	// margin-top: 80px;
	align-self: flex-end;
	mask-image: linear-gradient(0deg, #FFFF 50%, #FFF1 80%);
	// background-image: linear-gradient(0deg, #FFFF 50%, #000F 90%);
	// mask-image: linear-gradient(0deg, #FFFF 20%, #FFF0 50%);
	// background-image: linear-gradient(0deg, #FFFF 20%, #000F 50%);
}

#DialogHistory > span {
	flex-grow: 1;
}

#dialogHistory * {
	transition: 250ms ease-in-out;
}

.mensagem0, .mensagem1 {
	margin-bottom: 15px;
	padding: 20px 40px;
	min-width: 450px;
	max-width: 720px;
	font-size: 2em;
}

.mensagem0 {
	background-color: #535c89;
	border-radius: 0.75em 0.75em 0 0.75em;
	color: #FFFFFF;
}

.mensagem1 {
	background-color: #59316D;
	border-radius: 0.75em 0.75em 0.75em 0;
	color: #FFFFFF;
	align-self: flex-start;
}

#DialogBox {
	background-color: #535c89;
	border-radius: 0 1.5em 0 0;
	flex-grow: 0;
	padding: 15px;
	margin-bottom: 75px;
	box-shadow: 7px 7px 0px 0px #77777750;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	height: 260px;
	transition: 50ms ease-in-out;
}

#DialogBox.alternative {
	background-color: #59316D;
}

#Menu,
#Writer {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	padding-left: 20%;
}

#Writer {
	font-size: 2em;
	color: #FFFFFF;
	padding-right: 20px;
}

#Menu > button {
	flex: 1 1 auto;
	max-height: 45%;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.15);
	color: #FFFFFF;
	margin: 7.5px;
	margin-left: -20%;
	font-size: 1.8em;
	border-radius: 0.75em 0.75em 0 0.75em;
	transition: 100ms linear;
}

#Menu .MuiButton-label {
	justify-content: start;
	text-transform: none;
	margin-left: 20%;
}

#Menu > *:hover {
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	color: #59316D;
}

#conversationActions {
	margin-top: 20px;
}
