.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay-tutorial-notification {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 100000;
  width: 100%;
  height: 100%;
}

/* Position the content inside the overlay */
.overlay-tutorial-notification-content {
  width: 100%;
  height: 100%;
  z-index: 100001;
}

.smaller-tutorial-notification-blob {
  position: absolute;
  right: 4vw;
  top: -10vh;
  width: 25vw;
  height: 30vh;
}

.tutorial-notification-blob {
  position: absolute;
  right: 4vw;
  top: -10vh;
  width: 50vw;
  height: 60vh;
}

.smaller-tutorial-notification-message {
  position: absolute;
  right: 4vw;
  top: 0;
  padding: 3vh 3vw 0 4vw;
}

.tutorial-notification-message {
  position: absolute;
  right: 11vw;
  padding: 6vh 5vw 8vh 8vw;
}

.smaller-tutorial-notification-message span {
  display: block;
  font-size: 1.4rem;
  width: 20vw;
  text-align: center;
}

.tutorial-notification-message span {
  display: block;
  font-size: 1.5rem;
  width: 25vw;
  text-align: center;
}

.tutorial-notification-message span[lang="en"] {
  font-style: italic;
}

.tutorial-notification-message span[lang="en"]::before {
  content: "";
  display: block;
  border: #59316d solid;
  border-width: 2px 0 0 0;
  width: 200px;
  margin: 20px auto;
}

.tutorial-notification-message button {
  margin: auto;
  margin-top: 2vh;
  display: block;
}

/* The Overlay (background) */
.overlay-error-notification {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(88, 46, 112, 0.527);
  z-index: 100000;
  width: 100%;
  height: 100%;
}

/* Position the content inside the overlay */
.overlay-error-notification-content {
  width: 100%;
  height: 100%;
  z-index: 100001;
}

.error-notification-blob {
  width: 50vw;
  height: 60vh;
  // display: flex;
}
.error-notification-message span {
  display: block;
  font-size: 2.2rem;
  width: 35vw;
  text-align: center;
}

.error-notification-message button {
  margin: auto;
  margin-top: 50px;
  display: block;
}

.selected {
  // text-shadow: 0 0 0 10px red;
  -webkit-filter: drop-shadow(6px 3px 0px rgb(248, 122, 122));
  filter: drop-shadow(6px 3px 0px rgb(248, 122, 122));
}

.btn-add-to-conter {
  margin: auto;
  transform: translate(0, -50%);
  display: block;
}

.ingredients-div {
  margin-top: 20vh;
}

.suffled-ingredients {
  background-color: rgb(187, 214, 255);
  padding: 2vh 5vw;
  text-align: center;
}

.ingredient-selection-img {
  display: inline-block;
  cursor: pointer;
  max-width: 180px;
}

.ingredient-selection-img-even {
  margin-top: 15vh;
}

.ingredient-selection-img-odd {
  margin-top: -15vh;
}

.conter {
  position: absolute;
  bottom: 10px;
  height: 30vh;
  width: 80vw;
  left: 50vw;
  transform: translateX(-50%);
  background-color: saddlebrown;
  text-align: center;
}

.conter-ingredient {
  display: inline-block;
}

.conter-ingredient-even {
  margin-top: 10vh;
}

.conter-ingredient-odd {
  margin-top: -5vh;
}

.conter-ingredient-solo {
  margin-top: 28vh;
  height: 35vh;
  z-index: 10000;
}

.name-order-div {
  display: flex;
  flex-direction: row;
  background-color: rgb(203, 231, 222);
  width: 90vw;
  height: 60vh;
  z-index: 1000;
  border-radius: 40px;
}

.shuffled-letters {
  text-align: center;
  width: 50vw;
  padding: 10vh 5vw;
}

.shuffled-letters span {
  font-size: 6vw;
  display: inline-block;
  margin: 0 2vw;
  cursor: pointer;
  font-weight: 900;
  color: rgb(89, 49, 109);
}

.shuffled-letters span:hover {
  -webkit-filter: drop-shadow(6px 3px 0px rgb(248, 122, 122));
  filter: drop-shadow(6px 3px 0px rgb(248, 122, 122));
}

.ordered-letters-div {
  display: flex;
  align-items: center; /* Vertical */
  justify-content: center; /* Horizontal */
}

.ordered-letters {
  font-weight: 900;
  color: rgb(89, 49, 109);
  min-height: 90px;
  padding: 1vh 2vw;
  width: 40vw;
  background-color: rgb(221, 239, 234);
  border-radius: 5px;
  font-size: 2.5rem;
  letter-spacing: 2rem;
}

.ordered-letters-buttons {
}

.ordered-letters-buttons img {
  width: 30px;
  margin: 5px 0;
  transform: translate(-50%, 0);
  display: block;
  cursor: pointer;
}

.tableware-selection-div {
  margin-top: 15vh;
}

.selected-tableware {
  opacity: 1 !important;
  -webkit-filter: drop-shadow(6px 3px 0px rgb(248, 122, 122));
  filter: drop-shadow(6px 3px 0px rgb(248, 122, 122));
}

.shuffled-tablewares,
.shuffled-tableware-names {
  padding: 2vh 10vw;
  text-align: center;
}

.shuffled-tableware-names {
  margin-top: 2vh;
}

.shuffled-tablewares img {
  margin: 0 2vw;
}

.shuffled-tableware-names span {
  margin: 3vh 2vw;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 5px 10px;
}

.shuffled-tableware-names span:hover {
  background-color: rgb(88, 46, 112);
  color: white;
  border-radius: 5px;
}

.table-tableware-space {
  margin: 0 2vw;
  padding: 2vh 3vw;
  background-color: rgba(255, 255, 255, 0.685);
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  width: 15vw;
  height: 15vw;
}

.serve-button {
  position: absolute;
  width: 200px;
  cursor: pointer;
  top: 0;
  margin: 2vh 0 0 2vh;
}

.game-4-feedback {
  width: 90vw;
}

.game-4-feedback-win {
  display: flex;
  align-items: center; /* Vertical */
  justify-content: center; /* Horizontal */
  margin-top: 10vh;
}

.game-4-feedback-lose {
  display: flex;
  align-items: center; /* Vertical */
  justify-content: center; /* Horizontal */
  margin-top: 10vh;
}

.game-4-feedback-lose-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontal */
  text-align: center;
  color: rgb(89, 49, 109);
  font-size: 2vw;
  width: 40vw;
}

.game-4-time-up-title {
  font-size: 4vw;
  margin-bottom: 5vh;
}

.game-4-time-up-text {
  padding: 0 15%;
}

.game-4-feedback-lose-content img {
  max-height: 18vh;
}

.game-4-feedback-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertical */
  justify-content: center; /* Horizontal */
}

.game-4-finished-in {
  display: flex;
  align-items: center; /* Vertical */
  justify-content: center; /* Horizontal */
}

.game-4-finished-in img {
  max-height: 15vh;
  padding: 0 2vw;
}

.game-4-finished-in-text {
  font-size: 2vw;
  color: rgb(89, 49, 109);
  line-height: 1;
}

.game-4-finished-in-text span[lang="pt-br"] {
  font-size: 2vw;
}

.game-4-finished-in-text span[lang="en"] {
  font-size: 1.8vw;
}

.time-shower {
  position: relative;
  height: 35vh;
  width: 20vw;
}

.big-time-shower {
  position: relative;
  height: 50vh;
  width: 40vw;
}

.time-shower span {
  color: rgb(89, 49, 109);
  font-size: 5rem;
}

.big-time-shower span {
  color: rgb(89, 49, 109);
  font-size: 10rem;
}
