.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay-tutorial-notification {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fffb;
  z-index: 10000;
  width: 100%;
  height: 100%;
  // pointer-events: none;
}

/* Position the content inside the overlay */
.overlay-tutorial-notification-content {
  width: 100%;
  height: 100%;
  z-index: 100001;
}

.smaller-tutorial-notification-blob {
  position: absolute;
  right: 4vw;
  top: -10vh;
  width: 25vw;
  height: 30vh;
  background-image: url('../../img/bg-forma-laranja.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tutorial-notification-blob {
  position: absolute;
  right: 4vw;
  top: -10vh;
  width: 50vw;
  height: 60vh;
}

.smaller-tutorial-notification-message {
  position: absolute;
  text-align: center;
  height: 35%;
  width: 25%;
  top: -5%;
  right: 5%;
  background-image: url('../../img/bg-forma-laranja.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tutorial-notification-message {
  position: absolute;
  right: calc( var(--gameWidth) * 0.1);
  padding: 4.5em 5em 4.5em;
  font-size: 2.5em;
  background-color: #F9AFA1;
  border-radius: 8em 12em 18em 20em;
  // pointer-events: visible;
}

.smaller-tutorial-notification-message span {
  display: block;
  font-size: 1.4rem;
  width: 20vw;
  text-align: center;
}

.tutorial-notification-message span {
  display: block;
  font-family: 'Barlow';
  width: 16em;
  font-size: 1.3em;
  line-height: 1.2em;
  text-align: center;
}

.tutorial-notification-message span[lang="pt-br"] {
  font-weight: 700;
}

.tutorial-notification-message span[lang="en"] {
  font-style: italic;
}

.tutorial-notification-message span[lang="en"]::before {
  content: "";
  display: block;
  border: #fff solid;
  border-width: 2px 0 0 0;
  width: 200px;
  margin: 20px auto;
}

.tutorial-notification-message button {
  margin: auto;
  margin-top: 2em;
  pointer-events: all;
  display: block;
}

/* The Overlay (background) */
.overlay-error-notification {
  position: absolute;
  inset: 0 0 0 0;
  background: rgba(88, 46, 112, 0.527);
  z-index: 100000;
  font-size: 2.25em;
}

// .error-notification-blob {
//   width: 34.6em;
//   height: 31em;
// }

.error-notification-message {
  width: 38em;
  height: 28em;
  border-radius: 25em 25em 20em 15em;
  padding: 4em 5em 2.5em;
  background-color: #EDE6F0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  span {
    display: block;
    font-family: 'barlow';
    font-size: 1.8em;
    font-weight: 600;
    text-align: center;
  }

  button {
    margin-top: 4em;
    margin-bottom: -4em;
    display: block;
  }
}



.selected {
  // text-shadow: 0 0 0 10px red;
  -webkit-filter: drop-shadow(6px 3px 0px rgb(248, 122, 122));
  filter: drop-shadow(6px 3px 0px rgb(248, 122, 122));
}

.btn-add-to-counter {
  margin: auto;
  transform: translate(0, -50%);
  display: block;
}

.ingredients-div {
  margin-top: 20vh;
}

.shuffled-ingredients {
  background-color: #D6E3F4DD;
  padding: 2em 9.6em;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-66%);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;

  :nth-child(2n) {
    margin-top: 7%;
  }
  
  :nth-child(2n+1) {
    margin-bottom: 7%;
  }

  #btn-add-bancada {
    position: absolute;
    top: 100%;
    margin: -1.5em auto;
    font-size: 2em;
  }
}

.ingredient-selection-img {
  display: inline-block;
  cursor: pointer;
  max-width: 180px;
  vertical-align: top;
  transition: 100ms ease-in-out;
}

.ingredient-selection-img:hover {
  transform: scale(1.2) rotate(5deg);
}

.counter {
  position: absolute;
  height: 30%;
  width: 90%;
  bottom: 0;
  left: 5%;
  padding: 0 12% 2.4% 8%;
  background-image: url('../../img/Game4/table.svg');
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  :nth-child(2n) {
    // margin-top: 7%;
    align-self: flex-end;
  }
  
  :nth-child(2n+1) {
    // margin-bottom: 7%;
  }
}


.counter-ingredient-even {
  margin-top: -5%;
}

.counter-ingredient-odd {
  margin-top: -2%;
}

.counter-ingredient-solo {
  margin-top: 28vh;
  height: 35vh;
  z-index: 1000;
}

.name-order-div {
  display: flex;
  flex-direction: row;
  background-color: rgb(203, 231, 222);
  width: 100%;
  height: 60vh;
  z-index: 1000;
  border-radius: 40px;
}

.shuffled-letters {
  text-align: center;
  width: 50vw;
  padding: 10vh 5vw;
}

.shuffled-letters span {
  font-size: 6vw;
  display: inline-block;
  margin: 0 2vw;
  cursor: pointer;
  font-weight: 900;
  color: rgb(89, 49, 109);
}

.shuffled-letters span:hover {
  -webkit-filter: drop-shadow(6px 3px 0px rgb(248, 122, 122));
  filter: drop-shadow(6px 3px 0px rgb(248, 122, 122));
}

.ordered-letters-div {
  display: flex;
  align-items: center; /* Vertical */
  justify-content: center; /* Horizontal */
}

.ordered-letters {
  font-weight: 900;
  color: rgb(89, 49, 109);
  min-height: 90px;
  padding: 1vh 2vw;
  width: 40vw;
  background-color: rgb(221, 239, 234);
  border-radius: 5px;
  font-size: 2.5rem;
  letter-spacing: 2rem;
}

.ordered-letters-buttons {
}

.ordered-letters-buttons img {
  width: 30px;
  margin: 5px 0;
  transform: translate(-50%, 0);
  display: block;
  cursor: pointer;
}

.tableware-selection-div {
  margin-top: 15vh;
}

.selected-tableware {
  opacity: 1 !important;
  -webkit-filter: drop-shadow(6px 3px 0px rgb(248, 122, 122));
  filter: drop-shadow(6px 3px 0px rgb(248, 122, 122));
}

.shuffled-tablewares,
.shuffled-tableware-names {
  padding: 2vh 10vw;
  text-align: center;
}

.shuffled-tableware-names {
  margin-top: 2vh;
}

.shuffled-tablewares img {
  margin: 0 2vw;
}

.shuffled-tableware-names span {
  margin: 3vh 2vw;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 5px 10px;
}

.shuffled-tableware-names span:hover {
  background-color: rgb(88, 46, 112);
  color: white;
  border-radius: 5px;
}

.table-tableware-space {
  margin: 1% 2vw;
  padding: 2vh 3vw;
  background-color: rgba(255, 255, 255, 0.685);
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  height: 70%;
}

.serve-button {
  position: absolute;
  width: 200px;
  cursor: pointer;
  top: 0;
  margin: 2vh 0 0 2vh;
}

.game-4-feedback {
  width: 90vw;
}

.game-4-feedback-win {
  display: flex;
  align-items: center; /* Vertical */
  justify-content: center; /* Horizontal */
  margin-top: 10vh;
}

.game-4-feedback-lose {
  display: flex;
  align-items: center; /* Vertical */
  justify-content: center; /* Horizontal */
  margin-top: 10vh;
}

.game-4-feedback-lose-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontal */
  text-align: center;
  color: rgb(89, 49, 109);
  font-size: 2vw;
  width: 40vw;
}

.game-4-time-up-title {
  font-size: 4vw;
  margin-bottom: 5vh;
}

.game-4-time-up-text {
  padding: 0 15%;
}

.game-4-feedback-lose-content img {
  max-height: 18vh;
}

.game-4-feedback-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertical */
  justify-content: center; /* Horizontal */
}

.game-4-finished-in {
  display: flex;
  align-items: center; /* Vertical */
  justify-content: center; /* Horizontal */
}

.game-4-finished-in img {
  max-height: 15vh;
  padding: 0 2vw;
}

.game-4-finished-in-text {
  font-size: 2vw;
  color: rgb(89, 49, 109);
  line-height: 1;
}

.game-4-finished-in-text span[lang="pt-br"] {
  font-size: 2vw;
}

.game-4-finished-in-text span[lang="en"] {
  font-size: 1.8vw;
}

.time-shower {
  position: relative;
  height: 35vh;
  width: 20vw;
}

.big-time-shower {
  position: relative;
  height: 50vh;
  width: 40vw;
}

.time-shower span {
  color: rgb(89, 49, 109);
  font-size: 5rem;
}

.big-time-shower span {
  color: rgb(89, 49, 109);
  font-size: 10rem;
}
