.blob-left {
  right: 30em;
  top: 50%;
  transform: translate(-50%, -50%);
}

.blob-right {
  right: -10em;
  top: 50%;
  transform: translate(-50%, -50%);
}

.blob-center {
  right: 7em;
  top: 50%;
  transform: translate(-50%, -50%);
}
