#acusar {
  position: absolute;
  cursor: pointer;
  top: 5em;
  left: 8em;
  height: 22em;
}

#lamp-acesa,
#lamp-apagada {
  height: 100%;
}

#acusar #lamp-apagada {
  position: absolute;
}

#acusar #lamp-acesa,
#acusar span,
#acusar div {
  position: relative;
  opacity: 0;
}

#acusar:hover #lamp-acesa,
#acusar:hover span,
#acusar:hover div {
  opacity: 1;
}

#acusar div,
#acusar span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#acusar div {
  height: 12em;
  width: 12em;
  border-radius: 12em;
  background-color: #f9afa1;
  left: 25%;
}

#acusar span {
  color: #59316d;
  background-color: #f9afa100;
  border-radius: 0 2em 2em 0;
  padding: 1em 1em 1em 3em;
  font-size: 2.2em;
  left: 70%;
  width: max-content;
}

#acusar:hover span {
  background-color: #f9afa1;
}
