#acusar {
	position: absolute;
	cursor: pointer;
	top: 5vh;
	left: 8vh;
	height: 150px;
}

#lamp-acesa,
#lamp-apagada {
	height: 100%;
}

#acusar #lamp-apagada {
	position: absolute;
}

#acusar #lamp-acesa,
#acusar span {
	position: relative;
	opacity: 0;
	transition: 100ms linear;
}

#acusar:hover #lamp-acesa,
#acusar:hover span {
	opacity: 1;
}

#acusar span {
	color: #59316D;
	background-color: #F9AFA100;
	border-radius: 0 2em 2em 0;
	padding: 20px 40px 20px 70px;
	font-size: 1.5em;
	position: absolute;
	left: 70%;
	top: 28%;
	width: max-content;
}

#acusar:hover span {
	background-color: #F9AFA1;
}
