.dishPresentation{
  display: block;
  width: 300px;
  animation: seesaw 4s linear alternate infinite;
}

.rotate{
  animation: rotator 20s linear infinite;
  transform-origin: center;
}

.rotate.backwards{
  animation-name: rotatorB;
}

@keyframes seesaw {
  from {
    transform: scale(1,1) rotate(-2deg);
  }
  to {
    transform: scale(1.05, 1.05) rotate(2deg);
  }
}

@keyframes rotator{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}

@keyframes rotatorB{
  to{
    transform: rotateZ(0deg);
  }
  from{
    transform: rotateZ(360deg);
  }
}
.intro-recipe {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%
}

.ingredients {
  margin-top: 165px;
  margin-left: 180px;
}
