#RoomSelect {
	position: absolute;
	right: 15px;
	display: flex;
	flex: content;
	flex-direction: column;
}

.RoomBtn {
	padding: 5px;
	margin-bottom: 5px;
}

#selected {
	pointer-events: none;
	opacity: 50%;
}
