#app-header {
	/* position: fixed; */
	display: flex;
	flex-direction: row;
	background-color: var(--secondary-color);
	color: var(--accent-color);
	padding: 25px 50px;
	justify-content: space-between;
}

.group-btns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.group-btns > div {
	margin: 0px 20px;
	cursor: pointer;
}