@keyframes openConversa {
	0% {
		transform: translateY(5%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes closeConversa {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(5%);
	}
}

#dialog-interact.ExitAnim {
	animation: closeConversa 250ms ease-in forwards;
}

#dialog-interact {
	animation: openConversa 250ms ease-out forwards;
	transition: 150ms ease-in-out;
	height: 100%;
	width: 100%;
	max-width: 2000px;
	margin-left: auto;
	margin-right: auto;
}

#CharacterPortrait {
	position: absolute;
	bottom: 0;
	width: calc(25% + 80px);
	max-width: 600px;
	height: 80%;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#CharacterPortrait * {
	position: relative;
	max-height: 100%;
	left: 25%;
}

#dialogos {
	margin-left: auto;
	margin: 0 10% 0px auto;
	display: flex;
	flex-direction: column;
	width: calc(75% - 80px);
	height: 100%;
}

#dialog-box {
	background-color: #535c89;
	border-radius: 0 1.5em 0 0;
	flex-grow: 0;
	padding: 15px;
	margin-bottom: 75px;
	box-shadow: 7px 7px 0px 0px #77777750;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	height: 24%;
	max-height: 300px;
	transition: 50ms ease-in-out;
	overflow: hidden;
}

#dialog-box.alternative {
	background-color: #59316D;
}

#Menu,
#Writer {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	padding-left: 20%;
}

#Writer {
	font-size: 2em;
	color: #FFFFFF;
	padding-right: 20px;
}

#Menu > button {
	flex: 1 1 0px;
	min-height: 0px;
	max-height: 45%;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.15);
	color: #FFFFFF;
	margin: 7.5px;
	margin-left: -20%;
	font-size: 1.8em;
	border-radius: 0.75em 0.75em 0 0.75em;
	transition: 100ms linear;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

#Menu > button * {
	min-height: 0px;
	flex: 1 1 0px;
}

#Menu > button > span {
	justify-content: start;
	text-transform: none;
	text-align: start;
	margin-left: 20%;
	font-family: 'Barlow';
	font-weight: 500;
}

#Menu > *:hover {
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	color: #59316D;
}
