@keyframes openConversa {
	0% {
		transform: translateY(5%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes closeConversa {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(5%);
	}
}

#dialog-interact.ExitAnim {
	animation: closeConversa 250ms ease-in forwards;
}

#dialog-interact {
	animation: openConversa 250ms ease-out forwards;
	transition: 150ms ease-in-out;
	height: 100%;
	width: 100%;
	max-width: 2000px;
	margin-left: auto;
	margin-right: auto;
}

#CharacterPortrait {
	position: absolute;
	bottom: 0;
	width: 30%;
	max-width: 600px;
	height: calc(50% + 25px);
	pointer-events: none;
	transform-origin: 40% 40%;
	transform: scale(2.5);
}

#CharacterPortrait * {
	position: absolute;
	bottom: 0;
	left: 0;
	max-height: 100%;
}

#dialogos {
	margin-left: auto;
	margin: 0 200px 0px auto;
	display: flex;
	flex-direction: column;
	width: calc(75% - 80px);
	height: 100%;
}

#dialog-box {
	background-color: #535c89;
	border-radius: 0 1.5em 0 0;
	flex-grow: 0;
	padding: 15px;
	margin-bottom: 75px;
	box-shadow: 7px 7px 0px 0px #77777750;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	height: 260px;
	transition: 50ms ease-in-out;
}

#dialog-box.alternative {
	background-color: #59316D;
}

#Menu,
#Writer {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	padding-left: 20%;
}

#Writer {
	font-size: 2em;
	color: #FFFFFF;
	padding-right: 20px;
}

#Menu > button {
	flex: 1 1 auto;
	max-height: 45%;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.15);
	color: #FFFFFF;
	margin: 7.5px;
	margin-left: -20%;
	font-size: 1.8em;
	border-radius: 0.75em 0.75em 0 0.75em;
	transition: 100ms linear;
}

#Menu .MuiButton-label {
	justify-content: start;
	text-transform: none;
	margin-left: 20%;
}

#Menu > *:hover {
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	color: #59316D;
}
