.palette01 {
	--color-lightest: #ede6f0;
	--color-main: #f9afa1;
	--color-accent: #535c89;
	--color-second: #d6e3f4;
	--color-third: #cbe7de;
	--color-fourth: #ffcca9;
	--color-text: #59316d;
}

.palette02 {
	--color-lightest: #ede6f0;
	--color-main: #f9afa1;
	--color-accent: #535c89;
	--color-second: #d6e3f4;
	--color-third: #cbe7de;
	--color-fourth: #ffcca9;
	--color-text: #59316d;
}

.palette03 {
	--color-lightest: #ede6f0;
	--color-main: #f9afa1;
	--color-accent: #535c89;
	--color-second: #d6e3f4;
	--color-third: #cbe7de;
	--color-fourth: #ffcca9;
	--color-text: #59316d;
}

.palette04 {
	--color-lightest: #ede6f0;
	--color-main: #f9afa1;
	--color-accent: #535c89;
	--color-second: #d6e3f4;
	--color-third: #cbe7de;
	--color-fourth: #ffcca9;
	--color-text: #59316d;
}

.palette05 {
	--color-lightest: #ede6f0;
	--color-main: #f9afa1;
	--color-accent: #535c89;
	--color-second: #d6e3f4;
	--color-third: #cbe7de;
	--color-fourth: #ffcca9;
	--color-text: #59316d;
}
