.palette01 {
	--color-lightest: #ede6f0;
	--color-main: #f9afa1;
	--color-accent: #535c89;
	--color-second: #d6e3f4;
	--color-third: #cbe7de;
	--color-fourth: #ffcca9;
	--color-fifth: #fbbba3;
	--color-sixth: #FCDEAC;
	--color-text: #59316d;
	--color-lightest: #ede6f0;
	--rgb-color-main:249, 175, 161;
	--rgb-color-accent:83, 92, 137;
	--rgb-color-second:214, 227, 244;
	--rgb-color-third:203, 231, 222;
	--rgb-color-fourth:255, 204, 169;
	--rgb-color-fifth:251, 187, 163;
	--rgb-color-sixth:252, 222, 172;
	--rgb-color-text:89, 49, 109;
}

.palette02 {
	--color-lightest: #ede6f0;
	--color-main: #f9afa1;
	--color-accent: #535c89;
	--color-second: #d6e3f4;
	--color-third: #cbe7de;
	--color-fourth: #ffcca9;
	--color-text: #59316d;
}

.palette03 {
	--color-lightest: #ede6f0;
	--color-main: #f9afa1;
	--color-accent: #535c89;
	--color-second: #d6e3f4;
	--color-third: #cbe7de;
	--color-fourth: #ffcca9;
	--color-text: #59316d;
}

.palette04 {
	--color-lightest: #ede6f0;
	--color-main: #f9afa1;
	--color-accent: #535c89;
	--color-second: #d6e3f4;
	--color-third: #cbe7de;
	--color-fourth: #ffcca9;
	--color-text: #59316d;
}

.palette05 {
	--color-lightest: #ede6f0;
	--color-main: #f9afa1;
	--color-accent: #535c89;
	--color-second: #d6e3f4;
	--color-third: #cbe7de;
	--color-fourth: #ffcca9;
	--color-text: #59316d;
}
