.palette01 {
	--main-color: #050535;
	--second-color: #000000;
	--third-color: #000000;
	--fourth-color: #535C89;
	--accent-color: #00ffff;
}

.palette02 {
	--main-color: #330033;
	--second-color: #000000;
	--third-color: #000000;
	--fourth-color: #535C89;
	--accent-color: #ff0000;
}

.palette03 {
	--main-color: #333300;
	--second-color: #000000;
	--third-color: #000000;
	--fourth-color: #535C89;
	--accent-color: #ffff00;
}

.palette04 {
	--main-color: #003333;
	--second-color: #000000;
	--third-color: #000000;
	--fourth-color: #535C89;
	--accent-color: #00ff00;
}

.palette05 {
	--main-color: #555555;
	--second-color: #9ce4ba;
	--third-color: #b490df;
	--fourth-color: #535C89;
	--accent-color: #252525;
}

.palette06 {
	--main-color: #ffffff;
	--second-color: #F9AFA1;
	--third-color: #FFCCA9;
	--fourth-color: #535C89;
	--accent-color: #59316D;
}
