@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
@import './colorPalettes';

/* VARIABLES */
:root {
	--font-title: 'abril fatface', serif;
  --font-text: 'assistant', sans-serif;
}


/* TYPE */

body {
  margin: 0;
  font-family: var(--font-text) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--color-text) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-size: inherit;
  font-weight: 300;
}*/

h1 {font-family: var(--font-title);}


.type-l {font-size: 2rem !important;}
.type-m, h2 {font-size: 1.75rem !important; font-weight: 700 !important;}
.type-s, h3 {font-size: 1rem !important;}
.type-xs, h4 {font-size: 0.8rem !important;}

.type-display {font-family: var(--font-title);}
.type-center {text-align: center;}


.color-lightest {color: #ede6f0;}
.color-main {color: #f9afa1;}
.color-accent {color: #535c89;}
.color-second {color: #d6e3f4;}
.color-third {color: #cbe7de;}
.color-fourth {color: #ffcca9;}
.color-text {color: #59316d;}

/* ATOMS */

.margin-top {
  margin-top: 5rem;
}
.margin-half-top {
  margin-top: 2.5rem;
}

.btn, .MuiButton-label {
  padding: 10px 20px;
  background-color: var(--color-accent);
  border-radius: 50px 50px 50px 0;
  color: white;
  text-decoration: none;
  font-weight: 800;
  text-transform: lowercase;
  font-size: 1.25rem;
  transition: linear 0.2s;
}

.RoomBtn {
  padding: 10px 20px !important;
  border: 0;
  background-color: transparent;
  border-radius: 50px;
  color: var(--color-accent);
  border: 2px solid var(--color-accent)
}

.btn:hover, .MuiButton-label {
  background-color: var(--color-text);
  transition: linear 0.2s;
}

.btn-center {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.classImage {
  max-height: 150px;
  margin: 0 auto;
  display: block;
}

/* MOLECULES */

.main-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2rem
}
.main-wrapper > div {
  max-width: 40rem;
}

/* TEMPLATES */
.App > div {
  padding: 2rem;
  max-width: 80rem;
  margin: 0 auto;
}

/* BACKGROUNDS */

#RoomName {
  /*background-color: var(--color-main);*/
  padding: 2rem;
  height: 7rem;
  box-sizing: border-box;
  background: url('img/capa-top.svg');
  background-size: cover;
  background-position: bottom;
  text-align: center;
  font-family: var(--font-title);
  font-size: 1.25rem;
}

#sala {
  height:calc(100vh - 7.6rem);
  top: 0;
}

.bg-shape-bottom {
  background-image: url('img/formas-bottom-2.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 90%;
}

@media screen and (max-width: 40rem) {
  .bg-shape-bottom {background-size: 70%;}
}


/* CREATE GAME */
.missions {}
.mission {
  padding: 2rem;
  margin: 1rem;
  border: solid 1px var(--color-main);
  border-radius: 0.5rem;
}
.character {}
.mission-name {}
.mission-desc {}
.mission-question {}
.mission-answer {}
