.tutorialStep0 {
	.tutorial-list-icon,
	.tutorial-money-icon,
	.btn-change-aisle {
		cursor: default;
		pointer-events: none;
		opacity: 0;
	}
}

.tutorialStep1 {
	.tutorial-list-icon,
	.tutorial-money-icon,
	.btn-change-aisle {
		cursor: default;
		pointer-events: none;
		opacity: 0;
	}
	.shelf-item {
		cursor: default;
		pointer-events: none;
	}
}

.tutorialStep2 {
	.tutorial-list-icon,
	.tutorial-money-icon {
		cursor: default;
		pointer-events: none;
		opacity: 0;
	}
	.shelf-item {
		cursor: default;
		pointer-events: none;
	}
}

.tutorialStep3 {
	.tutorial-money-icon {
		cursor: default;
		pointer-events: none;
		opacity: 0;
	}
	.btn-change-aisle {
		cursor: default;
		pointer-events: none;
	}
	.shelf-item {
		cursor: default;
		pointer-events: none;
	}
}

.tutorialStep4 {
	.tutorial-list-icon,
	.btn-change-aisle {
		cursor: default;
		pointer-events: none;
	}
	.shelf-item {
		cursor: default;
		pointer-events: none;
	}
}
