.tutorialBlob {
  width: 40vw;
  height: 40vh;
  position: absolute;
  background-color: #f9afa1;
  border-radius: 50px;
  z-index: 100;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: center;
}

.tutorialBlob > div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 2rem;
  padding: 0px 15%;
}

.tutorialBlob span {
  font-family: 'Barlow';
}

.tutorialBlob span[lang="pt-br"] {
  font-weight: 600;
}

.tutorialBlob span[lang="en"] {
  font-style: italic;
}

.tutorialBlob span[lang="en"]::before {
  content: "";
  display: block;
  width: 40%;
  border-bottom: 2px solid white;
  margin: 25px auto 18px;
}

#tutorialGrid {
  display: grid;
  grid-template-columns: 77.55% auto;
  height: 100%;
  position: relative;
}

.blobLeft {
  left: 30px;
}

.blobRight {
  right: 30px;
}

#btnTutorial {
  padding: 20px 40px;
  font-family: "Barlow";
  font-weight: 700;
  font-size: 1.5rem;
  transition: 100ms linear;
  color: #59316d;
  display: block;
  margin-top: 1.5em;
  border-radius: 50px;
  background-color: #ffcca9;
  pointer-events: all;
}

#btnTutorial::after {
  content: "❯";
  margin-left: 1rem;
}

#btnTutorial:hover {
  color: white;
  background-color: #59316d;
}
