.cart {
  display: inline-block;
}
.cart-items {
  height: 40vh;
  width: 25vw;
  background-color: rgb(137, 213, 216);
  border-radius: 20px;
  padding: 2vh 2vw;
}
.cart-item {
  display: inline-block;
  margin: 10px;
}
.cart-item-img {
  height: 70px;
  max-width: 70px;
}

.payment-money-img {
  max-width: 50px;
}

.payment-money {
  display: inline;
}
