#gameGrid {
  display: grid;
  grid-template-columns: 77.55% auto;
  height: 100%;
  position: relative;
}

.listIcon {
  width: 60px;
  position: absolute;
}

.cart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart > img {
  max-width: 80%;
  align-self: center;
  margin-top: -26%;
}

.cartItems {
  height: 60vh;
  background-color: #cbe7de;
  border-radius: 20px 0px 0px 20px;
  padding: 2vh 2vw;
}

.cartItem {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.cartItem > span {
  display: inline-block;
  transform: translateX(-100%);
  background-color: #F9AFA1;
  border-radius: 100px;
  width: 1.5rem;
  text-align: center;
  box-shadow: 2px 2px #AAA7;
}

.cartItem:hover .cartItemImg {
  // box-shadow: 5px 5px #F9AFA1;
  filter: drop-shadow(5px 5px #F9AFA1);
}

.cartItemImg {
  height: 70px;
  max-width: 70px;
}

.shopList {
  position: absolute;
  top: 0;
  padding: 100px;
  margin-left: 40vw;
}

.shopListItemCheck,
.shopListItemImg {
  max-height: 20px;
  max-width: 20px;
}

.paymentMoneyImg {
  max-width: 50px;
}

.paymentMoney {
  display: inline;
}
