#game-screen {
	position: relative;
	margin: auto;
	aspect-ratio: 16 / 9; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.debug{
	border: 3px solid red
}

.maxHeight{
	height: 100%
}

.maxWidth{
	width: 100%
}
