#game-screen-wrapper {
	position: absolute;
	inset: 0 0 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#game-screen {
	position: absolute;
	overflow: hidden;

/* Faz com que esteja sempre de acordo com a razão de aspecto somente com css*/
	--aspectRatio: 1;
	--ratio: min( calc( 100vw / var(--aspectRatio) ), 100vh );
	--gameWidth: calc( var(--aspectRatio) * var(--ratio) );
	--gameHeight: var(--ratio);
	width: var(--gameWidth);
	height: var(--gameHeight);

/* Deals with responsive font sizes for the games.
Not sure how does this affect accessibility, though. Might need tweaks for that. */
	font-size: var(--fixed-font-size);
	font-size: var(--responsive-size);
	font-size: calc(
		calc( var(--responsive-size) * var(--responsiveness) )
	  + calc( var(--fixed-font-size) * (1 - var(--responsiveness)) )
	);

/*prevent ugly highlight selection while clicking*/
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.debug{
	box-sizing: content-box;
	border: 3px solid red;
}
